.navbar.navbar-light.navbar-maple.navbar-full.navbar-toggleable
	a.navbar-brand([routerLink]="['memberships']"): img.img-fluid(src="../../assets/maple-logo.png" style="max-height: 30px;")
	ul.navbar-nav.mr-auto
		li.nav-item: a.nav-link([routerLink]="['memberships']", [routerLinkActive]="['active']") Onboarding
		li.nav-item: a.nav-link([routerLink]="['users']", [routerLinkActive]="['active']") Drivers
		li.nav-item: a.nav-link([routerLink]="['payroll']", [routerLinkActive]="['active']") Payroll
		li.nav-item: a.nav-link([routerLink]="['shifts']", [routerLinkActive]="['active']") Shifts

	ul.navbar-nav.mr-0
		li.nav-item: a.nav-link([routerLink]="['admins']", [routerLinkActive]="['active']") Operators
		li.nav-item: a.nav-link([routerLink]="['bikes']", [routerLinkActive]="['active']") Bikes
		li.nav-item: a.nav-link(href="http://gps.maple.com" target="_blank") GPS
		li.nav-item: a.nav-link([routerLink]="['settings']", [routerLinkActive]="['active']") Settings
		li.nav-item &nbsp;&nbsp;&nbsp;
		li.nav-item: a.nav-link([routerLink]="['../user']") {{ user.name }}

br
router-outlet

.clearfix
br

footer.bg-faded(style="padding-top: 30px; padding-bottom: 30px; margin-top: 100px;"): .container-fluid
	ul.nav
		li.nav-item: a.nav-link Privacy policy
		li.nav-item: a.nav-link Terms &amp; Conditions

	br

	p ©2016 Maple Intelligence Pte Ltd Group Limited. All Rights Reserved