.container
	br
	table.table.table-hover.table-maple.table-sm
		thead: tr
			th Date
			th Shifts
			th Wages
			th Paid
		tbody
			tr(*ngFor="let week of weeks")
				td {{ week.week }}
				td
					span(*ngFor="let shift of week.shifts", style="display: block;") {{ shift.dateTimeFormatted }}
				td
					span(*ngFor="let shift of week.shifts", style="display: block;") {{ shift.paid_amount }}
				td
					span(*ngFor="let shift of week.shifts", style="display: block;") &nbsp;
					| £{{ week.total }}