.container
	br

	.row
		.col-sm-4
			.card
				.card-block(style="min-height: 200px")
					h4.card-title FAQ
					p.card-text Frequently Asked Questions about your Membership and Maple Intelligence Pte Ltd

				ul.list-group.list-group-flush
					li.list-group-item: a.nav-link(href="") How to use Maple Intelligence Pte Ltd
					li.list-group-item: a.nav-link(href="") Next steps after Registration
					li.list-group-item: a.nav-link(href="") Membership Application

		.col-sm-4
			.card
				.card-block(style="min-height: 200px")
					h4.card-title Vehicles
					p.card-text Guide on renting vehicles from Maple Intelligence Pte Ltd

				ul.list-group.list-group-flush
					li.list-group-item: a.nav-link(href="") How to use Maple Intelligence Pte Ltd
					li.list-group-item: a.nav-link(href="") Next steps after Registration
					li.list-group-item: a.nav-link(href="") Membership Application

		.col-sm-4
			.card
				.card-block(style="min-height: 200px")
					h4.card-title Contact Us
					p.card-text Please make sure to have your membership number or email address ready when contacting Maple Intelligence Pte Ltd.

				ul.list-group.list-group-flush
					li.list-group-item: a.nav-link(href="tel:+447808294355") +44 7808294355
					li.list-group-item: a.nav-link(href="mailto:info@maple.com") info@maple.com