section.bg-faded: .container
	.col-sm-10.offset-sm-1
		br
		br
		h1.text-primary.text-left FOR DRIVERS

	br
	.clearfix

	h1.text-center.text-primary(style="color: #F22613 !important; cursor: pointer; font-weight: 300;", (click)="openRegister()") WE ARE HIRING DRIVERS

	br

	.row: .col-sm-10.offset-sm-1: .col-sm-11.offset-sm-1
		ul.list-unstyled.text-primary
			li
				img(src="../../assets/arrow-one.png" style="margin-right: 5px;")
				| &nbsp;Maple Intelligence Pte Ltd provides full logistics services for delivery businesses and is hiring drivers
			li &nbsp;
			li
				img(src="../../assets/arrow-two.png" style="margin-right: 5px;")
				| &nbsp;We provide you with a 125cc bike and food delivery insurance
			li &nbsp;
			li
				img(src="../../assets/arrow-three.png" style="margin-right: 5px;")
				| &nbsp;You work self-employed for Maple Intelligence Pte Ltd, making drops for our partners delivery businesses

	br
	br
	br
	.row: .col-centered.col-sm-7.bg-primary.sf-frontend-primary-box
		br
		img.img-fluid.mx-auto.d-block(src="../../assetstext-what-we-need.png")
		br
		br
		.row
			.col-sm-5.offset-sm-1
				ul(style="color: white;")
					li Clean UK Drivers licence
					li Right to work in the UK
					li Friendly, can-do attitude
			.col-sm-6
				ul(style="color: white;")
					li Full bike licence or valid CBT
					li 21+ years of age
					br
					li Reliable, a good work ethic
					li Delivery with a smile

		//- button.btn.btn-secondary.m-x-auto([routerLink]="['/register']", style="display: block;") Apply Now
		br
		br
		br
		.col-sm-12.text-center: button.btn-lg.btn.btn-primary.btn-white-outline((click)="openRegister()", style="letter-spacing: 2px; font-size: 1.5em") Apply Now
		.clearfix
		br
		br

	.clearfix
	br
	br
	br

section.bg-primary: .container: .col-sm-10.offset-sm-1
	br
	img.img-fluid.d-block.mx-auto(src="../../assets/text-what-you-need.png")
	br
	.row
		.col-sm-3
			img.img-fluid.d-block.mx-auto(src="../../assets/what-you-need-1.png")
			p.text-center(style="color: white;") Drivers Licence
		.col-sm-3
			img.img-fluid.d-block.mx-auto(src="../../assets/what-you-need-2.png")
			p.text-center(style="color: white;") CBT Certificate
		.col-sm-3
			img.img-fluid.d-block.mx-auto(src="../../assets/what-you-need-3.png")
			p.text-center(style="color: white;") Smartphone
		.col-sm-3
			img.img-fluid.d-block.mx-auto(src="../../assets/what-you-need-4.png")
			p.text-center(style="color: white;") Credit Card

	br
	br

section: .container: .col-sm-10.offset-sm-1
	br
	br
	.row
		.col-sm-4
			img.img-fluid(src="../../assets/pizza-guy.png")
		.col-sm-5.offset-sm-2.text-center.text-sm-left
			h1.text-primary Use a Maple Intelligence Pte Ltd Bike
			br
			p.text-primary Brand new maple bikes are available, enabling you to work for delivery businesses.
			br
			ul.text-primary.list-unstyled
				li
					i.fa.fa-fw.fa-check
					| &nbsp;Work up to 11 hours a day
				li
					i.fa.fa-fw.fa-check
					| &nbsp;Includes Fleet Management Insurance TPO
				//- li
				//- 	i.fa.fa-fw.fa-check
				//- 	| &nbsp;Accessible 24/7
				li
					i.fa.fa-fw.fa-check
					| &nbsp;Located at Leicester Square
				li
					i.fa.fa-fw.fa-check
					| &nbsp;Easy booking via the maple app

	br
	br

section.bg-faded: .container: .col-sm-10.offset-sm-1
	br
	br
	br
	h3.text-center Maple Intelligence Pte Ltd explained in FIVE easy steps:
	br
	br

	.row
		.col-sm-4
			h1.text-center.text-muted.sf-circle.d-block.mx-auto 1
			.row.text-center.text-sm-left
				.col-sm-3: img.img-fluid.d-block.mx-auto(src="../../assets/icon-lock.png")
				.col-sm-9: p Vehicles are located in secure car parks around the City
		.col-sm-4
			h1.text-center.text-muted.sf-circle.d-block.mx-auto 2
			.row.text-center.text-sm-left
				.col-sm-3: img.img-fluid.d-block.mx-auto(src="../../assets/icon-phone.png")
				.col-sm-9: p Drivers sign up to our website to join and book for the vehicle
		.col-sm-4
			h1.text-center.text-muted.sf-circle.d-block.mx-auto 3
			.row.text-center.text-sm-left
				.col-sm-4: img.img-fluid.d-block.mx-auto(src="../../assets/icon-pizza-person.png")
				.col-sm-8: p Drivers employed by delivery businesses and use the delivery companies’ apps to access jobs
	br.hidden-xs-down
	.row
		.col-sm-4.offset-sm-2
			h1.text-center.text-muted.sf-circle.d-block.mx-auto 4
			.row.text-center.text-sm-left
				.col-sm-4: img.img-fluid.d-block.mx-auto(src="../../assets/icon-olympic-field.png")
				.col-sm-8: p Vehicles are returned to their designated parking bay after each shift
		.col-sm-4
			h1.text-center.text-muted.sf-circle.d-block.mx-auto 5
			.row.text-center.text-sm-left
				.col-sm-4: img.img-fluid.d-block.mx-auto(src="../../assets/icon-cc.png")
				.col-sm-8: p Payment is made for the time the vehicle is used to do jobs

	br
	br
	br

	h3.text-center Why Maple Intelligence Pte Ltd?
	br
	div.text-center
		ul.list-unstyled
			li(style="padding-top:10px") • You don't have to worry about the cost of bike or insurance - we do that for you!
			li(style="padding-top:10px") • We are competitively priced - so you keep most of your hard earned pay
			li(style="padding-top:10px") • Flexible working hours - we have a range of shift lengths, starting at different times. 7 days a week - so you can work when it suits
	br
	br

section: .container: .col-sm-10.offset-sm-1
	br
	br
	.row: .col-sm-12: img.img-fluid(src="../../assets/bikes.png")
	br
	br
