section.bg-faded: .container: .col-sm-10.offset-sm-1
	br
	br
	h1.text-primary.text-center.text-sm-left FOR BUSINESS
	br
	.row
		.col-sm-6
			img.img-fluid(src="../../assets/big-bike.png")
		.col-sm-5.offset-sm-1(style="font-size:1.1rem")
			br
			br
			p How Maple Intelligence Pte Ltd can help your Business:

			ul.list-unstyled
				//li(style="padding-top: 10px") • Use our bikes and our drivers
				li(style="padding-top: 10px") • Use our bikes and our drivers
				//- li(style="padding-top: 10px") • Purchase a Maple Intelligence Pte Ltd bike
				li(style="padding-top: 10px") • Recommend Maple Intelligence Pte Ltd to your drivers
			br
			a.hidden-xs-down.btn.btn-primary([routerLink]="['/contact-us']") CONTACT US FOR MORE INFORMATION
			a.col-12.btn-lg.hidden-sm-up.btn.btn-primary([routerLink]="['/contact-us']") CONTACT US
	br
	br
	br
	br

	h4.text-center Maple Intelligence Pte Ltd has exclusivity over a bespoke 125cc food delivery vehicle
		br
		| and provides a range of driver management solutions
	br
	br

.clearfix

section: .container: .col-sm-10.offset-sm-1
	br
	br
	h2.text-center.text-primary: strong Illuminated delivery box...
	br
	div.text-center
		ul.list-unstyled
			li(style="padding-top: 10px") • Effective 24/7 advertising
			li(style="padding-top: 10px") • Safe, robust and hygienic delivery
			li(style="padding-top: 10px") • Integrated box ensuring optimal driver maneuverability
			li(style="padding-top: 10px") • Maple Intelligence Pte Ltd can look after fleet maintenance
			li(style="padding-top: 10px") • Maple Intelligence Pte Ltd branding panels are backlit and easy to change

	br

section: .container: .col-sm-10.offset-sm-1
	br
	br
	.row: .col-sm-12: img.img-fluid(src="../../assets/bikes.png")
	br
	br
